.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
  height: 30px;

  border-style: hidden;
}

.header2 h2 {
  margin: 0;
}

.article-list-container {
  max-width: auto;
  margin: 0 auto;
  padding: 1rem;
  flex: 1;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 10px;
}

.article-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.2s;
}

.article-card h2 {
  font-size: 1.25rem;
}

.article-card p {
  margin: 0.5rem 0;
}

.article-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.article-page {
  max-width: auto;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.article-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article-page img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.article-page p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}

.comment-list {
  margin-top: 2rem;
}

.comment-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.comment-card p {
  margin: 0.5rem 0;
  text-align: left;
}

button {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color: #007bff;
  color: rgb(7, 2, 2);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading {
  font-size: 1.2rem;
  color: #007bff;
  text-align: center;
}

.comment-form {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.comment-form h3 {
  margin-top: 0;
  font-size: 1.25rem;
}

.comment-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.comment-form button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.comment-form button:hover {
  background-color: #0056b3;
}

.comment-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: #e74c3c;
  font-size: 0.875rem;
}

.topic-list-container {
  width: 150px;
  margin-top: 10px;
  margin-right: 20px;
  position: sticky;
  top: 0;
  height: 10%;
  overflow-y: auto;
}

.topic-list h2 {
  font-size: 1.5rem;
}

.topic-list ul {
  list-style-type: none;
  padding: 0;
}

.topic-list li {
  margin: 0.5rem 0;
}

.topic-list a {
  color: #007bff;
  text-decoration: none;
}

.topic-list a:hover {
  text-decoration: underline;
}

main {
  display: flex;
}

.sort-controls {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.sort-controls label {
  margin-right: 10px;
}

.sort-controls select {
  margin-right: 20px;
}

.sort-controls button {
  padding: 5px 10px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 40px;
  margin-right: 1rem;
}

.title {
  font-size: 2rem;
}
